
.DS_Store

Hardware/flightsOfIdeas-rev3.svg

Hardware/binboo_p2_rev2 copy.svg

Hardware/Box Sketch rev2~.skp

Hardware/Box Sketch rev2.skp

Hardware/AutoSave_Box Sketch rev2b~.skp

Hardware/AutoSave_Box Sketch rev2b.skp

.DS_Store

.gitignore

.gitignore

.DS_Store

.DS_Store

.DS_Store

.DS_Store

.DS_Store

.DS_Store
